# visual studio code
.vscode/

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# env files
.env*.local

# typescript
next-env.d.ts

# misc
.DS_Store
*.pem
npm-debug.log*

# dev log
DEV_LOG.md

# claude
CLAUDE.md

# docs
# /docs/
